# Data files
cache
libraries
logs
versions
*.dat

# Plugin folder
plugins/bStats

# Citizens
plugins/Citizens/saves.yml
plugins/Citizens/shops.yml
plugins/Citizens/lib

# Denizen
plugins/Denizen/*
!plugins/Denizen/scripts
!plugins/Denizen/config.yml
!plugins/Denizen/data
plugins/Denizen/data/*.secret

# LuckPerms
plugins/LuckPerms/*
!plugins/LuckPerms/config.yml
!plugins/LuckPerms/yaml-storage
plugins/LuckPerms/yaml-storage/*
!plugins/LuckPerms/yaml-storage/groups

# World folders
world*

# Various files
.console_history
*.json
*.jar

# Leave eula out - make end user enable it
eula.txt

# mcman: Exclude env secrets
.env
.mcman.lock
