[submodule "plugins/Denizen/scripts/lib/chat-util"]
	path = plugins/Denizen/scripts/lib/chat-util
	url = https://github.com/acikek/chat-util
[submodule "plugins/Denizen/scripts/lib/rank"]
	path = plugins/Denizen/scripts/lib/rank
	url = https://github.com/acikek/rank
